@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  width: 1280px;
  height: 800px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/Background.gif");
  background-size: cover;
}

#title h1 {
  font-family: "Press Start 2P";
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 0 4px 0 #00ecff, 0 -4px 0 #ff4045;
}

a {
  text-decoration: none;
  color: inherit;
}

#title h1:hover {
  color: rgba(0, 0, 0, 0);
}

.kirby-div {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.kirby-img {
  width: 275px;
  height: 200px;
  position: absolute;
  left: calc(50% - 137.5px);
  top: 650px;
}
