@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  width: 1280px;
  height: 800px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/Background.gif");
  background-size: cover;
}

#title h1 {
  font-family: "Press Start 2P";
  font-size: 4em;
  background: linear-gradient(to right, crimson, pink, springgreen);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 1);
  transition: color 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: inherit;
}
#title h1:hover {
  color: rgba(0, 0, 0, 0);
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.kirby {
  width: 275px;
  height: 200px;
  position: absolute;
  bottom: 95px;
}
